img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 16px;
}

.header-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    width: 247px;
}

.banner {
    width: 771px;
}

.site-title {
    background-image: url("./img/banner.jpg");
    padding: 16px 28px 12px 26px;
    display: grid;
    align-items: center;
    grid-template-columns: 219px 180px;
    justify-content: space-between;

}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 151%;
    color: #fff;
}

.title-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 151%;
    color: #f65050;
}

.title-link {
    width: 180px;
    height: 44px;
    background-color: #f65050;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    justify-self: center;
}

.posts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "p1 p2 p3"
        "p1 p4 p4";
    gap: 14px 15px;
}

.posts-item:first-child {
    grid-area: p1;

}

.posts-item:last-child {
    grid-area: p4;
}

.header-navigation {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    background: #393939;

}

.header-navigation-list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(9, auto-fit);
    grid-auto-flow: column;
}

.header-navigation-link {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.is-active {
    background-color: #f65050;
}

.dont-miss-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, auto-fit);
}

.dont-miss-nav-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, auto-fit);
}

.dont-miss-title {
    font-weight: 500;
    font-size: 24px;
    color: #f65050;
}