.sports {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 36px 1fr;
}

.sports-header {
  display: flex;
}

.sports-header-list {
  display: flex;
  gap: 12px;
}

.sports-header-pagination {
  display: flex;
  gap: 12px;
}

.sports-post {
  display: grid;
  grid-template-columns: 393px 1fr;
  grid-column: 1 / 2;
  column-gap: 30px;
}

.sports-sidebar {
  grid-column: 2 / 3;
}

.sports-post-item {
  display: grid;
}

.sports-post-item:first-child {
  grid-row: 1 / 6;
}

.sports-post-link {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 14px 17px;
}

.sports-soc-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
