$min-w: 375px;
$max-w: 1440px;

$main-font: "Sofia Pro";

$font-families: (
  "font-family": "Sofia Pro",
  "second-family": "Oswald",
  "third-family": "Lora",
  "font3": "Poppins",
);

$font-weights: (
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
);

$font-sizes: (
  "sm": 12px,
  "nm": 14px,
  "md": 16px,
  "lg": 20px,
  "xl": 24px,
);
